<table class="table">
    <thead>
      <tr>
      
        <th scope="col">Artist Name</th>
        <th scope="col">Song Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Song Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr  *ngFor="let playsong of playSongs" >
       
        <th scope="row">{{playsong?.artistName}}</th>
        <td>{{playsong?.songName}}</td>
        <td>{{playsong?.genre}}</td>
        <td>{{playsong?.songType}}</td>
        <td>
          <button  class="btn rounded-circle" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Add Song">
          <mat-icon>more_vert</mat-icon>
        </button>
        </td>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item (click)="onClick(playsong)">
            <mat-icon>favorite</mat-icon>
            <span>Liked Songs</span>
          </button>
          <button mat-menu-item *ngFor="let playlist of myPlaylistArray;let index=index" (click)="SelectedSongToSend(index,playsong.id)">
            <mat-icon>playlist_add</mat-icon>
            <span>{{playlist.title}}</span>
          </button>
        </mat-menu>
      </tr>
    </tbody>
    
  </table> 

  <div class="preview" *ngIf="token">
    <div class="text">
      <h6>Preview of Spotify</h6>
      <p>Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</p>
    </div>
    <div class="button">
      <button type="button" (click)="OnSignUp()">Sign up free</button>
    </div>
  </div>
 
  


  