<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add Profile</p>

                <form class="mx-1 mx-md-4" [formGroup]="addProfileForm" (ngSubmit)="addProfile()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">First Name</label>
                      <input type="text" id="form3Example1c" class="form-control" formControlName="firstName" />
                      
                      <label class="from-label-1"
                        *ngIf="controls['firstName']?.errors?.['pattern'] && controls['firstName']?.touched">Enter Valid
                        Name</label>

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Last Name</label>
                      <input type="text" id="form3Example1c" class="form-control" formControlName="lastName" />
                      <label class="from-label-1"
                      *ngIf="controls['lastName']?.errors?.['pattern'] && controls['lastName']?.touched">Enter Valid
                      Name</label>
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      <input type="email" id="form3Example3c" class="form-control" formControlName="email" />
                      <label class="from-label-1"
                        *ngIf="controls['email']?.errors?.['pattern'] && controls['email']?.touched">Enter Valid
                        Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fa fa-image fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Image</label>
                      <input type="file" id="form3Example3c" class="form-control" formControlName="image" (change)="selectFile($event,'/profile_image')"/>
                      <label class="from-label-1"
                        *ngIf="controls['image']?.errors?.['pattern'] && controls['image']?.touched">File Must be
                        of .jpg, .jepg, .gif, .png</label>
                        <div *ngIf="percentageVal | async as percentage">
                          <ng-container *ngIf="controls['image'].touched ">
                            Progress: {{ percentage | number }}%
                            <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
                        </ng-container>
                          </div>
                    </div>
                  </div>


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" [disabled]="addProfileForm.invalid" class="btn btn-primary btn-lg">Submit</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img [src]="imageUrl" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>