<div class="sidebar">
  <div class="logo">
    <a (click)="OnLogoClick()">
      <img id="img" src="../../../../assets/images/pngwing.com(1).png" alt="Logo" />
    </a>
  </div>

  <div class="navigation">
    <ul >
      <li>
        <a (click)="OnLogoClick()">
          <span  id="fa"  class="fa fa-home"></span>
          <span  class="li">Home</span>
        </a>
      </li>

      <li>
        <a (click)="OnLogoClick()">
          <span  id="fa" class="fa fa-search"></span>
          <span  class="li">Search</span>
        </a>
      </li>

      <li *ngIf="isLogin">
        <a (click)="OnMyLibraryClick()">
          <span id="fa" class="fa fas fa-book"></span>
          <span  class="li">Your Library</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="navigation" *ngIf="isLogin">
    <ul  >
      <li >
        <a (click)="OnCreatePlaylistClick()">
          <span  id="fa"  class="fa fas fa-plus-square"></span>
          <span  class="li">Playlist</span>
        </a>
      </li>

      <li>
        <a (click)="OnLikedSongsClick()">
          <span  id="fa" class="fa fas fa-heart"></span>
          <span class="li">Liked Songs</span>
        </a>
      </li>

      <li>
        <a (click)="OnProfileClick()">
          <span  id="fa" class="fa fas fa-user"></span>
          <span  class="li">Profile</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="policies">
    <ul>
      <li>
        <a href="#">Cookies</a>
      </li>
      <li>
        <a (click)="OnPrivacyPolicyClick()">Privacy</a>
      </li>
    </ul>
  </div>
 
</div>



