<div class="sidebar">
  <div class="logo">
    <a (click)="OnLogoClick()">
      <img id="img" src="../../../../assets/images/pngwing.com(1).png" alt="Logo" />
    </a>
  </div>

  <div class="navigation">
    <ul>
      <li>
        <a (click)="OnLogoClick()">
          <span class="fa fa-home"></span>
          <span>Home</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="fa fa-search"></span>
          <span>Search</span>
        </a>
      </li>

      <li>
        <a (click)="OnMyLibraryClick()">
          <span class="fa fas fa-book"></span>
          <span>Your Library</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="fa fas fa-plus-square"></span>
          <span>Playlist</span>
        </a>
      </li>

      <li>
        <a (click)="OnLikedSongsClick()">
          <span class="fa fas fa-heart"></span>
          <span>Liked Songs</span>
        </a>
      </li>

      <li>
        <a href="#">
          <span class="fa fas fa-user"></span>
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="policies">
    <ul>
      <li>
        <a href="#">Cookies</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
    </ul>
  </div>
 
</div>



