<h2>Create Playlist </h2>
<form   [formGroup]="createPlaylistForm" (ngSubmit)="submitCreatePlaylist()">


    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" formControlName="title" />
      <label class="form-label" for="form6Example3">Title</label>
    </div>

    <!-- Text input -->
    <div class="form-outline mb-4">
     <textarea name="" id="" cols="139" rows="10" formControlName="description"></textarea>
      <label class="form-label" for="form6Example4">Description</label>
    </div>

      <!-- Image File -->
    <div class="form-outline mb-4">
      <input type="file" id="form6Example6" (change)="selectFile($event,'/playlist_images')"   class="form-control" formControlName="imageUrl"/>
      <label class="form-label" for="form6Example6">Add Image</label>
      <div *ngIf="percentageVal | async as percentage">
        <ng-container *ngIf="controls['imageUrl'].touched && controls['imageUrl']?.errors?.['pattern']">
          Progress: {{ percentage | number }}%
          <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
      </ng-container>
  
        </div>
    <label class="error"  *ngIf="controls['imageUrl']?.errors?.['pattern']">File must be .png,jpg,jpeg</label>

    </div>


    <!-- Submit button -->
    <button type="submit" [disabled]="createPlaylistForm.invalid" class="btn btn-primary btn-block mb-4">Create Playlist</button>
  </form>
