
<div class="container">
        <div class="song-details">
          
            <label for="file" class="label-file bouncing"><mat-icon>radio</mat-icon></label>
           
        </div>    
        <div class="audio-btns">
            <button class="loop-btn">
                <mat-icon>repeat</mat-icon>
            </button>
            <button class="play-stop_btn">
              <mat-icon style="font-size: 40px;width: 70px;height:40px">play_circle_filled</mat-icon>
            </button>
              <div class="volume">
                <button class="volume-button">
                    <mat-icon>volume_up</mat-icon>
                </button>
              </div>
        </div>
    </div>
   

 