
<div class="container">
        <div class="song-details">
         <div class="cancel"><mat-icon>cancel</mat-icon></div> 
            <label for="file" class="label-file bouncing"><mat-icon>radio</mat-icon></label>
           
        </div>    
       
        <div class="audio-btns">
            <button class="loop-btn">
                <mat-icon>repeat</mat-icon>
            </button>
            <button class="play-stop_btn" (click)="onClick()">
              <mat-icon *ngIf="!globalPlaySong" style="font-size: 40px;width: 70px;height:40px">play_circle_filled</mat-icon>
              <mat-icon  *ngIf="globalPlaySong" style="font-size: 40px;width: 70px;height:40px">pause_circle_filled</mat-icon>

            </button>
           
            
              <div class="volume">
                <button class="volume-button" (click)="OnVolumeClick()">
                    <mat-icon *ngIf="volumeOfSong">volume_up</mat-icon>
                    <mat-icon *ngIf="!volumeOfSong">volume_off</mat-icon>
                </button>
              </div>
        </div>
    </div>



 