* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 28, 240, 1) 0%, rgba(69, 213, 242, 0.8925770137156425) 89%);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.144);
    position: relative;
    padding: 30px 50px;
    


    .song-details {
        display: flex;
        align-items: center;

        div {
            margin-left: 2rem;
        }

        h2 {
            width: 300px;
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }
}






.audio-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 40%;
    margin: -64px auto;

    button {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        font-size: 50px;
        cursor: pointer;
        background: none;
    }
}

.bouncing {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

p{
    font-family: sans-serif;
    word-wrap: break-word;
}




@media only screen and (max-width: 800px) {
    body {
        margin: 0;
        overflow: hidden;
    }

    .volume {
        position: relative;
        display: inline-block;
    }

    .volume-button {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }


    .container {
        width: 100%;
        height: 100vh;
        padding-top: 5rem;
        border-radius: 0;
        border: 1px;

        .audio-btns {
            width: 100%;
            padding: 0 1rem;
            padding-top: 3rem;
        }
        .songTime{
                float:right
        }
        .img-div{
                margin-right: 10px;
        }

        .song-details {
            display: flex;
            flex-direction: column;
        border: 1px;


            h2 {
                margin-top: 3rem;
                margin-bottom: 1rem;
                text-align: center;
                max-width: 300px;
                display: block;
            }
        }
    }
}

.play-stop_btn {
    width: 50px;
}
.cancel{
    float:right; 
    bottom: 20px;
    position: relative;

}
.eject{
   display: flex;
   flex-direction: row;
   justify-content: center;
    height: 20px;
   margin-right: 216px;
   bottom: 0 !important;
   cursor: pointer;
}
.songPlay{
    display: flex;
    flex-direction: column;
}

#song_skip{
    cursor: pointer;    
}
