<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
 <div  >
    <div >
      <div class="card m-2" style="width: 100%">
          <div class="row g-0" (click)="OnLikedSongsClick()">
              <div class="col-md-4" >
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"   class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Liked Songs</h5>
                      <p class="card-text">
                          Listen your Favorite music here, Add new Songs from our latest Hits.
                         <span style="color:green"> Eat ,Sleep , Song Repeat</span>
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card m-2" style="width:100%;" *ngFor="let playlist of myPlaylists; let index =index">
          <div class="row g-0" (click)="OnMyPlaylistClick(index)">
              <div class="col-md-4">
                  <img [src]="playlist.imageUrl"   width="200px" class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">{{playlist?.title}}</h5>
                      <p class="card-text">
                          {{playlist?.description}}
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Created on {{playlist.createdAt|date}}</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
     
    
 
    </div>
  </div>