.list-group-item:hover{
    background-color:rgb(233, 217, 248);
    transform:scale(1.01);
}
.list-group-item{
    cursor: pointer;
    transition:transform 0.25s ease;
}
.col-md-4{
    width: 300px;
}
.img-fluid{
    object-fit: cover;
    height: 200px;
    width: 300px;
}