.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(113, 246, 101), rgb(169, 133, 253));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(101, 246, 113), rgb(175, 133, 253))
    }
.fa{
    cursor: pointer;
}    
.Container{
    cursor: pointer;
    display: flex;
}
.logout{
    display: flex;
}
.logout:hover{
   color:  rgb(175, 133, 253);
 
}

.addSongs{
    display: flex;
}
.addSongs:hover{
   color:  rgb(175, 133, 253);

}
.addProfile{
    display:flex;
    cursor:pointer;
}
.addProfile:hover{
    color:  rgb(175, 133, 253);
}

