<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
 <div  >
    <div >
      <div class="card m-2" style="width:100%;" *ngFor="let album of albumsArray; let index =index">
          <div class="row g-0" (click)="OnAlbumClick(index)">
              <div class="col-md-4">
                  <img [src]="defaultImage"  width="200px" class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">{{album?.albumName}}</h5>
                      <p class="card-text">
                         {{album?.artistName}}
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Created on {{album?.created|date}}</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
     
    
 
    </div>
  </div>