<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
 <div  >
    <div >
      <div class="card m-2" style="width: 100%">
          <div class="row g-0" >
              <div class="col-md-4" >
                  <img src=''   class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Liked Songs</h5>
                      <p class="card-text">
                          Listen your Favorite music here, Add new Songs from our latest Hits.
                         <span style="color:green"> Eat ,Sleep , Song Repeat</span>
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card m-2" style="width:100%;" >
          <div class="row g-0" >
              <div class="col-md-4">
                  <img src=''   width="200px" class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">title</h5>
                      <p class="card-text">
                         Description
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Created on 04/04/2014</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
     
    
 
    </div>
  </div>