<div class="d-flex justify-content-center container mt-5">
    <div class="row">
        <div class="col-md-10">
            <div class="d-flex flex-row justify-content-between align-items-center card cookie p-3">
                <div class="d-flex flex-row align-items-center"><img src="https://i.imgur.com/Tl8ZBUe.png" width="40">
                    <div class="ml-2 mr-2"><span>We use third party cookies to personalize content, ads and&nbsp; analyze site traffic.<br></span></div>
                </div>
                <div><button class="btn btn-dark" type="button" (click)="OnClick()">Okay</button></div>
            </div>
        </div>
    </div>
</div>