body {
    background: #BCBCCC;
  }
  
  .card {
    flex-direction: column;
    min-width: 0;
    color: #000;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  
  .learn-more {
    text-decoration: none;
    color: #000;
    margin-top: 8px;
  }
  
  .learn-more:hover {
    text-decoration: none;
    color: blue;
    margin-top: 8px;
  }